body {
    background-color: #bccfed; 
    background-image: linear-gradient(43deg, #bccfed 0%, #ebf1f5 69%, #bccfed 85%);
}
.card {
    border-radius: 1rem;
    width: 20rem;
    height:auto
}
.card:hover {
    color: #fff;
    background-color: #0d6efd;
    background-image: linear-gradient(43deg, #0d6efd 0%, #0d6efd 58%, #87baff 100%);

}

#main-container {
    text-align: center;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 0px 20px 30px rgba(48, 48, 48, 0.50);
    box-shadow: 0px 20px 30px rgba(48, 48, 48, 0.50);
}
.btn-primary {
    border-radius: 0.7rem;
    border: 1px solid #ffffffab;
    background-color: #0d6efd;
    background-image: linear-gradient(43deg, #0d6efd 0%, #0d6efd 58%, #87baff 100%);
}
